body {
	margin: 0px;
}

header {
	
}

header #logo {
	width:201px;
	height:146px;
}

header #titulo {
	font-family: verdana;
	font-size: 30px;
	display: inline;
}

nav {
	background-color:#58D68D;
}

nav ul {
	color: #ffffff;
	font-family: verdana;
	font-size: 20px;
}

nav ul li {
	
	display: inline
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
}

nav ul li a:hover {
	/*text-decoration: underline;*/
	text-shadow: 2px 2px 2px #ff8000;
}

nav ul li a:visited {
	text-decoration: none;
	color: #ffffff;
}

#centro {
	text-align: center;
}

main a {
	text-decoration: none;
	color:#ff8000;
	font-size: 20px;
}

main a:visited {
	text-decoration: none;
	color:#ff8000;
	font-size: 20px;
}

main ul {
	list-style: none;
}

main h1 {
	color:#58D68D;
}

main h2 {
	color:#58D68D;
}


footer {
	display: block;
	background-color:#58D68D;
	color:#000000;
	text-align: left;
	text-align: bottom;
	margin-bottom: 0px;
	width:100%;
	padding:3px;
}

footer #contacto {
	display: inline;
	width:20px;
	height:20px;
	margin-top:5px;
	margin:5px;
	color:#ffffff;
} 
