body {
	margin: 0px;
	padding-top:20px;
}

header {
	text-align: center;
}

header img[id="logo"] {
	text-align: left;
	border: 15px solid  #f25c00;
	border-radius: 10px;
	background-color: #f25c00;
	width: 33vw;
}

nav {
	background: #f25c00;
	color: #ffffff;
}

nav ul {
	
}

nav ul li {
	display: inline;
	
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 15px;
	margin-left:5px;
}

nav ul li a:hover {
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	margin-left:5px;
}

main {
	margin-left:20px;
}

main section article a {
	text-decoration: none;	
	color: #000000;
}

main section article a:visited {
	text-decoration: none;
	color: #000000;
}

main section article .foto {
	border: 2px solid #000000;
	border-radius: 4px;
	margin-left:0px;
	height: 300px;
	display: inline;
}

main section article .mapa {
	border: 2px solid #000000;
	border-radius: 4px;
	margin-left:0px;
	width: 1200px;
	/*height: 500px;*/
	text-align: center;
	display: inline;
}







